html,
body,
h1,
h2,
h3,
h4 {
  font: 300 16px/1 "RobotoDraft";
}

p { line-height: 1.6 }

h1 { font-size: 1.4rem; }

h2 { font-size: 1.2rem; }

h3 { font-size: 1rem; }

h4 { font-size: 0.8rem; }

core-scaffold /deep/ core-item,
body /deep/ core-toolbar {
  background-color: #03a9f4;
  color: #fff;
}